{#
/**
 * @file
 * Default theme implementation for configuration form.
 *
 * Variables:
 * - form: complete form to output.
 *
 * @see third_party_services_theme()
 *
 * @ingroup themeable
 */
#}
{{ form }}
